<div class="card card-body bg-light">
    <a routerLink="/lugares">Lugares</a> / contacto
</div>
<div class="container">
    <div class="row">

        <div class="col-md-7">
            <label>Nombre</label>
            <input type="text" class="form-control">
            <br>
            <label>Correo</label>
            <input type="email" class="form-control">
            <br>
            <label>mensaje</label>
            <textarea class="form-control"></textarea>
            <hr>
            <a class="btn btn-primary">Enviar</a>
            <a class="btn btn-default" routerLink="/lugares/1">Cancelar</a>
        </div>
        <div class="col-md-5">
            <h1>Imagen</h1>
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="././assets/breakbeats-_0009_Layer_7.jpg" alt="Card image cap">
            </div>
        </div>
    </div>

</div>